@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --vermelho-sa: #C8102E; /* vermelho principal */
  --azul-escuro-sa:#003087; /* azul mais escuro */
  --azul-medio-sa: #0047BB; /* azul médio */
  --branco: #FFFFFF; /* fundo ou contraste */
  --verdewp: #25D366; /* Verde Whatsapp */
  --verdeescuro: #17603c;
  --ss: #d6c8a2;
  --marrom: #8B5A2B;

  --roboto: 'Roboto', sans-serif;
}

body {
    
}
header {
    background-image: linear-gradient(to bottom, var(--vermelho-sa),
    #8d0a20f6);   


}
.logo {
    width: 160px;
    
    border-radius: 50%;
    margin-bottom: -72px;
    margin-left: 50px;
}
.links {
    text-align: center;
    

    margin: auto;

    padding: 0px 0px 25px 0px;
    
}
@media (max-width: 1150px) {

    .logo {
        margin: auto;
    }
    .front {
        height: 40vh;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);

        font-size: 1em;
    }
}
.links a {
    padding: 10px 30px;

    text-decoration: none;

    color: var(--branco);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;

    display: inline-block;

}
#linkwp {
    background-color: var(--verdeescuro);
    
    padding: 15px;

    border-radius: 10px;
}
.front {
    background-image: url("/imagens/imagemdafrente/imgdestaque2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    margin: auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);

    margin: auto;
    height: 45vh;
}

main h1 {
    font-family: var(--roboto);
    font-size: 3em;
    font-weight: bolder;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
}
@media (max-width: 1680px) {
    main h1 {
        font-size: 2.6em;
    }
}
@media (max-width: 1440px) {
    main h1 {
        font-size: 2.3em;
    }
}
@media (max-width: 1024px) {
    main h1 {
        font-size: 2em;
    }
}
@media (max-width: 370px) {
    main h1 {
        font-size: 1.5em;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
    .destaque {
        padding: 10px 0px 0px 10px;
    }
}
.destaque {
    padding: 50px 0px 0px 50px;
}
