@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --vermelho-sa: #d11333; /* vermelho principal */
  --azul-escuro-sa:#003087; /* azul mais escuro */
  --azul-medio-sa: #0047BB; /* azul médio */
  --branco: #FFFFFF; /* fundo ou contraste */
  --verdewp: #25D366; /* Verde Whatsapp */
  --verdeescuro: #17603c;
  --ss: #d6c8a2;
  --marrom: #8B5A2B;

  --roboto: 'Roboto', sans-serif;
  --Anton: 'Anton', sans-serif;
  --Black: 'Archivo Black', sans-serif;
}

body {
    
}
main {
    margin: auto;
    max-width: 1500px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}
header {
    background-image: linear-gradient(to bottom, var(--vermelho-sa),#a10f27);   
}
.nomeloja {
    font-family:var(--Black);
    font-weight: 900;
    font-size: 4em;
    color: #1a1919;

    margin-bottom: 100px;
}

.divlogo {
    padding-top: 20px;
}
.imglogo {
    width: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;

}
.navbar {
    background-color: #a10f27; 

    position: sticky;
    top: 0px;

    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.185);

}
.links {
    text-align: center;
    
}
#o {
    color: var(--branco);
}

.links a {
    padding: 5px 30px;
    margin: 8px;

    text-decoration: none;

    color: var(--branco);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.7em;

    display: inline-block;

    transition: 0.6s;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
}
.links a:hover {
    background-color: #dfd6d8f6;
    border-radius: 5px;

}
#lwtp {
    background-color: var(--verdeescuro);
    
    padding: 15px;

    border-radius: 10px;
}
.front {
    background-image: url("../imagens/imagemdafrente/imgdestaque2.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    min-height: 70vh;
}
.contentp {
    padding: 70px 0px 0px 70px;
}
S {
    color: var(--vermelho-sa);
}
A {
    color: var(--azul-escuro-sa);
}
#MOVEIS {
    color: var(--vermelho-sa);
}
#ELETRO {
    color: var(--azul-escuro-sa);
}
header h1 {
    text-align: center;
    font-size: 7em;
    font-weight: 700;
    font-family: var(--Anton);
    color: var(--branco);
    
}

.front h1 {
    font-family: var(--roboto);
    font-size: 3em;
    font-weight: bolder;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    min-height: 15vh;
}

.contentp p {
    font-size: 1.5em;
     
    
    font-family: var(--roboto);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.534);
}

.linkfrente {
    display: inline-block;

    margin: 10px;

    padding: 30px 20px 50px 10px;
    border-radius: 8px;
}
.linkfrente a.a1 {
    text-decoration: none;

    font-family: var(--roboto);
    font-weight: bold;
    font-size: 1.5em;
    
    padding: 15px;
    margin: 0px -20px;
    color: var(--branco);
    background-color: var(--vermelho-sa);
    border-radius: 10px;
}
.linkfrente a.a2 {
    text-decoration: none;

    font-family: var(--roboto);
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 10px;
    
    padding: 15px;
    margin: 0px 30px;
    color: var(--branco);
    background-color: var(--verdeescuro);
    
}

.categorias {
    background-color: var(--branco);
    padding: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}
.categorias h1 {
    font-family: var(--Black);
    font-weight: bolder;
    color: var(--vermelho-sa);

    display: flex;
    justify-content: left;

    padding-left: 10px;

    margin: 30px;
    
}
.categorias a {
    text-decoration: none;
}
.subcategorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.subcategorias p {
    text-decoration: none;
    margin: 10px;
    
    text-align: center;

    font-family: var(--Black);
    font-size: 1.5em;
    font-weight: 500;
}
.cdiv1 {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);

}
.subcategorias img {
    transition: 0.5s;
}

.subcategorias img:hover {
    transform: scale(1.1);
}
.cdiv2 {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
   
        
}
.cdiv3 {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    
        
}
.cdiv4 {
    border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    
        
}
.categorias img {
    max-height: 250px;
    max-width: 300px;

    border-radius: 10px 10px 0px 0px;
}


